nav {
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px; 
  max-width: 100%;
  
  ul {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    text-transform: uppercase;
  }
  .logo {
    color: rgb(249, 249, 6);
  }

  .center-menu {
    width: 40%;
    margin: 0 auto;
  }
}
