* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button{
  cursor: pointer;
}

body {
  background: url(../img/bg.png)center top/cover;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  padding: 40px;
  font-weight: 700;
  color:rgb(66, 66, 148);
  div:not(.div1) {
    color: white;
  }
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(223, 168, 17, 0.253);
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
