
// Couleurs
$color1: rgb(218, 171, 0);
$color2: rgb(216, 176, 216);
$color3: rgb(9, 8, 8);
$color4: rgb(245, 245, 245);
$color5:rgb(74, 73, 73);
// mixin

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Réglages généraux
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  
  
color:$color4;
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: $color1;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: white;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  
  &:hover{
    transform: translateX(5px);
    transition: 0.3s;
    box-shadow:1px 1px 5px rgb(236, 234, 234);
  }
}
